################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevNet-1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/DevNet-1/obj
/Devnet-1/Devnet-1.csproj.user
/Devnet-1/bin
